# =========================
# Core (기본 환경 / 타입)
# =========================
numpy==1.26.4
typing_extensions==4.10.0

# =========================
# Deep Learning Framework (PyTorch 생태계)
# =========================
# ※ torch / torchvision은 base image에 포함된다고 가정
timm==0.9.12
accelerate==0.27.2

# =========================
# Transformer / NLP / Multimodal
# =========================
transformers==4.38.2
tokenizers==0.15.2
huggingface-hub==0.20.3
safetensors==0.4.2
sentencepiece==0.2.0
open_clip_torch==2.23.0
nltk==3.8.1

# =========================
# Dataset / Data Handling
# =========================
datasets==2.18.0
pandas==2.1.4

# =========================
# Image Processing / Vision
# =========================
albumentations==1.4.7
opencv-python-headless==4.9.0.80
pillow==10.3.0
imagehash==4.3.1

# =========================
# Evaluation Metrics
# =========================
pycocoevalcap==1.2
rouge-score==0.1.2
sacrebleu==2.4.0

# =========================
# Visualization
# =========================
matplotlib==3.8.3

# =========================
# Experiment / Logging
# =========================
wandb==0.16.3

# =========================
# Utils / System
# =========================
PyYAML==6.0.1
tqdm==4.66.2
requests==2.32.3

# =========================
#DVC
# =========================
networkx==3.3
dvc[s3]==3.67.1

# =========================
# 
# =========================
sentence_transformers==2.7.0

# =========================
# 추가할 라이브러리==버전 써주세요
# 버전 출력 명령어 pip show 라이브러리명
# =========================

